body {
  padding: 20px;
  background-color: #fffef2;
}

.card {
  height: 200px;
  width: 143px;
  line-height: auto;
  background-color: white;
  border-radius: 16px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  text-align: center;
  display: inline-block;
  margin: 1px;
}
.card-text {
  color: black;
  top: -30px;
  position: relative;
}
.szh-menu-container {
  display: inline-block;
}
.container {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
}

.tab-content>.active {
  display: inline-flex;
}

.workingTab {
  background-color: grey;
  width: 100px;
}
.lizzieTab {
  background-color: lightblue;
}

.justinTab {
  background-color: green;
}

.marieTab {
  background-color: yellow;
}