body {
  padding: 30px;
  background-color: #fffef2;
}

.card {
  height: 200px;
  width: 143px;
  line-height: auto;
  background-color: white;
  border-radius: 16px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  text-align: center;
  display: inline-block;
  margin: 1px;
}
.szh-menu-container {
  display: inline-block;
}